<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="cancellation">
  <div class="container">
    <div class="cancellation_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <form class="cancellation_form"
            th:action="@{/profile/order/{orderId}/cancellation(orderId=${carOrder.getId()})}"
            method="post">
        <table class="cancellation_table">
          <caption class="cancellation_table_caption" th:text="#{caption.cancelOrder}">Отменить
            заказ
          </caption>
          <caption>
            <div th:if="${cancellation}" class="notification">
            <span class="notification_close_button" onclick="this.parentElement.style.display='none';"
            >&times;</span>
              <p th:text="${cancellation}"></p>
            </div>
          </caption>
          <tr>
            <td>
            <textarea class="cancellation_reason_textarea"
                      th:text="${carOrder.reasonOfCancellation}" name="reasonOfCancellation"
                      th:placeholder="#{placeholder.reasonOfCancellation}"
                      maxlength="255"></textarea>
            </td>
          </tr>
          <tr>
            <td class="cancellation_order_row">
              <button class="cancellation_order_button" type="submit" th:text="#{button.save}">
                сохранить
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>