<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="condition">
  <div class="container">
    <div class="condition_inner">
      <img class="condition_img" th:src="@{/images/condition.jpg}">
      <div class="condition_content">
        <h2 class="condition_title" th:text="#{rentalConditions}">Условия проката</h2>
        <div class="condition_text">
          <p th:text="#{condition.mainPoints}">На этой странице Вы найдёте основные пункты, которые
            входят в договор аренды
            автомобиля.</p>
          <h3 th:text="#{condition.requirements}">Необходимые документы/требования</h3>
          <ol>
            <li th:text="#{condition.requirementsAge}">Возраст не менее 19 лет;</li>
            <li th:text="#{condition.requirementsExperience}">Стаж не менее 1 года;</li>
            <li th:text="#{condition.requirementsPassport}">Паспорт;</li>
            <li th:text="#{condition.requirementsDriverLicense}">Водительское удостоверение.</li>
          </ol>
          <h3 th:text="#{condition.payment}"> Способы оплаты</h3>
          <ul>
            <li th:text="#{condition.paymentCash}">Наличный;</li>
            <li th:text="#{condition.paymentNonCash}">Безналичный;</li>
          </ul>
          <h3 th:text="#{condition.territoryOfOperation}">Территория эксплуатации</h3>
          <p th:text="#{condition.territoryOfOperationRequirement}">Все автомобили имеют возможность
            выезда за границу (всю дополнительную информацию можно
            уточнить у менеджера).</p>
          <h3 th:text="#{condition.actionsInAccident}">Действия в случае ДТП</h3>
          <p th:text="#{condition.actionsInAccidentDescription}">По факту наступления
            дорожно-транспортного происшествия (аварии, повреждения
            автомобиля,
            независимо от причины, нанесения физического или материального урона каким-либо лицам
            при
            использовании автомобиля, угона, кражи автомобиля или его частей, захвата автомобиля или
            других
            действий, совершенных против автомобиля салона проката):</p>
          <ul>
            <li th:text="#{condition.actionCallPolice}">Клиент обязан незамедлительно вызвать
              милицию (телефон 102);
            </li>
            <li th:text="#{condition.actionReport}">Сообщить о случившемся представителю компании;
            </li>
            <li th:text="#{condition.actionCertificate}">Клиент обязан в течение 24 часов
              предоставить в офис салона проката справку
              установленного образца о дорожно-транспортном происшествии (ДТП) из ГАИ либо справку о
              противоправных действиях третьих лиц.
            </li>
          </ul>
          <h3 th:text="#{condition.generalTerms}">Общие условия</h3>
          <ul>
            <li th:text="#{condition.generalTermBreakdownCar}">В случае поломки автомобиля, Клиенту
              предоставляется автомобиль взамен равный по
              классу, а
              при условии отсутствия равного класса, предоставляется классом выше;
            </li>
            <li th:text="#{condition.generalTermAdditionalDriver}">Дополнительные водители
              оформляются бесплатно при наличии соответствующих
              документов;
            </li>
            <li th:text="#{condition.generalTermNotify}">В случае, если арендатор не может вернуть в
              наш салон проката авто арендованный
              автомобиль в
              срок и задержка по времени составляет более получаса (30 мин), необходимо обязательно
              уведомить об этом Арендодателя;
            </li>
            <li th:text="#{condition.generalTermAgreement}">При оформлении аренды заключается
              соответствующий договор, в котором предусмотрены
              все
              условия аренды, неоговоренные на данном сайте, включающий в себя акт приема-передачи;
            </li>
            <li th:text="#{condition.generalTermPayForDelay}">При задержке возврата автомобиля
              взимается оплата за сутки;
            </li>
            <li th:text="#{condition.generalTermFineForSpeedLimit}">В случае фотофиксации превышения
              скоростного режима и получения постановления из ГАИ
              МВД о
              наложение штрафа (приходят через 1 мес.), мы отправляем в вышеуказанный орган пакет
              документов о перенесении ответственности об Административном правонарушении.
            </li>
            <li th:text="#{condition.generalTermCompanyRight}">Компания имеет право отказать в
              аренде Клиенту без объяснения причин.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>