<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="registration">
  <div class="container">
    <form class="registration_inner" method="post" th:action="@{registration}">
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('user.username')}"
           th:errors="*{user.username}">
          username error</p>
        <label for="login">Логин</label>
        <input type="text" id="login" th:field="*{user.username}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('user.email')}"
           th:errors="*{user.email}">
          email error</p>
        <label for="email">Электронная почта</label>
        <input type="email" id="email" th:field="*{user.email}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('user.password')}"
           th:errors="*{user.password}">
          password error</p>
        <label for="password">Пароль</label>
        <input type="password" id="password" th:field="*{user.password}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('user.phoneNumber')}"
           th:errors="*{user.phoneNumber}">
          phone number error</p>
        <label for="phone_number">Тел. номер</label>
        <input type="tel" id="phone_number" th:field="*{user.phoneNumber}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.lastName')}"
           th:errors="*{passportData.lastName}">
          last name error</p>
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" th:field="*{passportData.lastName}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.firstName')}"
           th:errors="*{passportData.firstName}">
          first name error</p>
        <label for="name">Имя</label>
        <input type="text" id="name" th:field="*{passportData.firstName}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.middleName')}"
           th:errors="*{passportData.middleName}">
          middle name error</p>
        <label for="middle_name">Отчество</label>
        <input type="text" id="middle_name" th:field="*{passportData.middleName}" required>
      </div>
      <div class="registration_item_radio">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.sex')}"
           th:errors="*{passportData.sex}">
          sex error</p>
        <span>Пол</span>
        <div class="registration_item_radio_inner">
          <label>
            <input type="radio" name="sex" value="male" th:field="*{passportData.sex}">
            <span>мужской</span>
          </label>
          <label>
            <input type="radio" name="sex" value="female" th:field="*{passportData.sex}">
            <span>женский</span>
          </label>
        </div>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.dateOfBirth')}"
           th:errors="*{passportData.dateOfBirth}">
          date of birth error</p>
        <label for="date_of_birth">Дата рождения</label>
        <input type="date" id="date_of_birth" th:field="*{passportData.dateOfBirth}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.registration')}"
           th:errors="*{passportData.registration}">
          registration error</p>
        <label for="registration_address">Адрес регистрации</label>
        <input type="text" id="registration_address" th:field="*{passportData.registration}"
               required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.placeOfBirth')}"
           th:errors="*{passportData.placeOfBirth}">
          registration error</p>
        <label for="address">Место рождения</label>
        <input type="text" id="address" th:field="*{passportData.placeOfBirth}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text"
           th:if="${#fields.hasErrors('passportData.passportNumber')}"
           th:errors="*{passportData.passportNumber}">
          passport number error</p>
        <label for="passport_number">Номер паспорта</label>
        <input type="text" id="passport_number" th:field="*{passportData.passportNumber}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text"
           th:if="${#fields.hasErrors('passportData.identificationNumber')}"
           th:errors="*{passportData.identificationNumber}">
          identification number error</p>
        <label for="identification_number">Идентификационный номер</label>
        <input type="text" id="identification_number"
               th:field="*{passportData.identificationNumber}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.dateOfIssue')}"
           th:errors="*{passportData.dateOfIssue}">
          date of issue error</p>
        <label for="date_of_issue">Дата выдачи паспорта</label>
        <input type="date" id="date_of_issue" th:field="*{passportData.dateOfIssue}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.dateOfExpiry')}"
           th:errors="*{passportData.dateOfExpiry}">date of expiry error</p>
        <label for="date_of_expiry">Срок действия паспорта</label>
        <input type="date" id="date_of_expiry" th:field="*{passportData.dateOfExpiry}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.authority')}"
           th:errors="*{passportData.authority}">authority error</p>
        <label for="authority">Орган, который выдал паспорт</label>
        <input type="text" id="authority" th:field="*{passportData.authority}" required>
      </div>
      <div class="registration_item">
        <p class="registration_error_text" th:if="${#fields.hasErrors('passportData.nationality')}"
           th:errors="*{passportData.nationality}">nationality error</p>
        <label for="nationality">Гражданство</label>
        <input type="text" id="nationality" th:field="*{passportData.nationality}" required>
      </div>
      <button class="registration_submit" type="submit" th:text="#{registration}">Регистрация
      </button>
    </form>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>