.authorization {
  justify-content: center;
  align-items: center;
  margin: 3.2rem auto 0;
  left: 35%;
  display: block;
  width: 32rem;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #fcce81;
}

.authorization h2 {
  padding: 2rem;
  text-transform: uppercase;
  color: #553636;
}

.authorization input {
  display: block;
  height: 3.8rem;
  width: 90%;
  margin: 0.5rem auto;
  border: none;
}

.authorization input::placeholder {
  transform: translateY(0);
  transition: 0.5s;
}

.authorization input:hover,
.authorization input:focus,
.authorization input:active:focus {
  color: #000000;
  outline: none;
  border-bottom: 0.1rem solid #000000;
}

.authorization input:hover::placeholder,
.authorization input:focus::placeholder,
.authorization input:active:focus::placeholder {
  color: #000000;
  position: relative;
  transform: translateY(-1.2rem);
}

.login, .password {
  position: relative;
  border-bottom: 0.1rem solid rgba(0, 0, 0, .1);
  padding-left: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #858585;
  font-weight: lighter;
  transition: 0.5s;
}

.authorization button {
  cursor: pointer;
  display: inline-block;
  float: right;
  width: 16rem;
  height: 3.7rem;
  margin-top: 1rem;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
  text-align: center;
}

.register {
  background: rgba(190, 127, 84, 0.8);
}

.sign_in {
  background: rgba(94, 127, 220, 0.8);
}

.authorization .register:hover {
  background: rgba(190, 127, 84, 1);
}

.authorization .sign_in:hover {
  background: rgba(94, 127, 220, 1);
}

