.registration {
  margin-bottom: 12rem;
  font-family: 'Open Sans', sans-serif;
}

.registration_inner {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-left: 1rem;
}

.registration form {
  background: #fcce81;
}

.registration h2 {
  padding: 2rem;
  text-transform: uppercase;
  color: #553636;
}

.registration_inner_left {
  width: 50%;
}

.registration_inner_right {
  width: 50%;
}

.registration_item {
  width: 100%;
  text-align: left;
}

.registration_item input {
  height: 2.5rem;
  width: 90%;
  margin-bottom: 0.8rem;
  border: none;
  color: var(--black);
  padding: 1rem;
}

.registration_item label {
  width: 70%;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.registration_item label:first-letter {
  text-transform: uppercase;
}

.registration_item_radio {
  display: block;
  text-align: left;
  margin-bottom: 0.8rem;
}


.registration_item_radio_title {
  vertical-align: center;
  font-size: 1.2rem;
  margin: 0;
}

.registration_item_radio label {
  display: inline-block;
  vertical-align: center;
  margin: 0;
}

.registration_item_radio_title:first-letter {
  text-transform: uppercase;
}

.registration_button {
  cursor: pointer;
  width: 100%;
  height: 3.7rem;
  margin-top: 1rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(94, 127, 220, 0.8);
  transition: 0.5s;
  text-align: center;
}

.registration_button:hover {
  background-color: rgba(94, 127, 220, 1);
}

.registration_error_text {
  color: var(--red);
}

