.catalog {
    margin-bottom: 12rem;
}

.catalog_inner {
    display: flex;
}

.filer_inner{
    font-family: 'Lato', sans-serif;
}

.filer_item_checkbox {
    margin-bottom: 1.5rem;
}

.filter_title {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.filer_checkbox_inner label {
    font-size: 1rem;
    color: #444444;
    display: block;
    margin: 0 0 0.5rem 0;
    line-height: 1.4rem;
}

.filer_checkbox_inner input {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.5rem 0 0;
    padding: 0;
    vertical-align: top;
    outline: none;
    transition: background 0.3s ease;
    box-shadow: 0 0 0 0.1rem var(--black);
    cursor: pointer;
}

.filer_checkbox_inner input:checked {
    background-image: url(../../images/checkbox.png);
}

.filer_checkbox_inner input:hover {
    filter: brightness(110%);
}

.filer_checkbox_inner input:active {
    filter: brightness(80%);
}

.filer_item_radio {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 15rem;
    margin-bottom: 1.5rem;
}

.filer_radio_inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.filer_item_radio label {
    margin: 0 0 0.5rem 0;
    display: flex;
}

.filer_item_radio input {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
}

.filer_item_radio input:hover {
    cursor: pointer;
}

.filer_radio_inner span {
    color: #444444;
}

.filer_submit {
    margin: 1rem;
    font-size: 1rem;
    border: 0.1rem solid black;
    background-color: rgba(94, 127, 220, 1);
    color: var(--white);
    border-radius: 0.4rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.8rem 0.8rem;
}

.filer_submit:hover {
    background-color: rgba(94, 127, 220, 0.8);
    transition: all 0.2s linear;
}

.catalog_content {
    padding-left: 1rem;
}

.product_item {
    display: inline-block;
    width: 16rem;
    margin: 0 2rem 2rem 0;
    background: white;
    text-align: center;
    border-bottom: 0.2rem solid var(--white);
    transition: .2s linear;
}

.product_item:hover {
    border-color: #bca480;
}

.product_wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 0.2rem;
}

.product_wrap img {
    display: block;
    width: 18rem;
    height: 18rem;
}

.product_item_actions {
    position: absolute;
    left: 0;
    bottom: -20%;
    width: 100%;
    background: rgba(59, 62, 67, 0.75);
    transition: .3s linear;
}

.product_item:hover .product_item_actions {
    bottom: 0;
}

.product_item_actions a {
    text-decoration: none;
    float: left;
    width: 50%;
    color: white;
    padding: 1rem 0;
    transition: .2s linear;
}

.product_item_actions a:hover {
    background: var(--black);
}

.reserve:before {
    content: "Бронировать";
}

.quick_view:before {
    content: "Просмотр";
}

.product_item_info {
    padding-bottom: 0.5rem;
}

.product_item_title {
    margin: 0 0 0.5rem 0;
}

.product_item_title a {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
}

.product_item_price {
    font-weight: bold;
    color: var(--brown);
}


