.edit {
  margin-bottom: 12rem;
}

.edit_inner {
  display: flex;
}

.edit_content {
  font-family: 'Lato', sans-serif;
  color: var(--black);
  display: inline-block;
  width: 100%;
}

.edit_form {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.edit_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.edit_password_table {
  width: 100%;
}

.edit_password_table td{
  padding-left: 40%;
}

.edit_password_table tr{
  width: 100%;
}

.edit_table_caption {
  padding: 0.5rem;
  color: var(--white);
  background: saddlebrown;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.edit_table td {
  padding: 0.5rem;
}

.edit_button {
  color: var(--white);
  background-color: rgba(94, 127, 220, 1);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  font-weight: bold;
  padding: 0.4rem 0.4rem;
}

.edit_button:hover {
  background-color: rgba(94, 127, 220, 0.8);
  transition: all 0.2s linear;
}

