.car {
  margin-bottom: 12rem;
}

.car_inner {
  display: flex;
}

.car_table {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 3rem;
  color: var(--black);
}

.car_table_caption {
  padding: 0.5rem;
  color: var(--white);
  background: saddlebrown;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.car_table tr {
  text-transform: uppercase;
}

.car_table td {
  padding: 0.5rem;
  text-align: left;
}

.car_table tr:nth-child(odd) {
  background: var(--white);
}

.car_table tr:nth-child(even) {
  background: #E8E6D1;
}
