.passport {
  margin-bottom: 12rem;
}

.passport_inner {
  display: flex;
}

.passport_table {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 3rem;
  color: var(--black);
}

.passport_table_caption {
  padding: 0.5rem;
  color: var(--white);
  background: saddlebrown;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}

.passport_column_caption {
  text-transform: uppercase;
}

.passport_table td {
  padding: 0.5rem;
  text-align: left;
}

/*.view_account_button {*/
/*  !*width: 100%;*!*/
/*  color: var(--white);*/
/*  background-color: rgba(94, 127, 220, 1);*/
/*  border: none;*/
/*  border-radius: 0.4rem;*/
/*  cursor: pointer;*/
/*  !*font-weight: bold;*!*/
/*  padding: 0.2rem 1rem;*/
/*}*/

/*.view_account_button:hover {*/
/*  background-color: rgba(94, 127, 220, 0.8);*/
/*  transition: all 0.2s linear;*/
/*}*/

