<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="passport">
  <div class="container">
    <div class="passport_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <div class="edit_content">
        <form class="edit_form"
              th:action="@{/profile/user/{userId}/passport/{passportId}/edit(userId=${passportData.getUser().getId()}, passportId=${passportData.getId()})}"
              method="post">
          <table class="edit_table">
            <caption class="edit_table_caption" th:text="#{caption.editPassport}">Редактирование паспорта
            </caption>
            <input type="hidden" th:name="id" th:value="${passportData.getId()}">
            <tr>
              <td class="edit_row_caption" th:text="#{passport.firstName}">Имя</td>
              <td th:text="${passportData.getFirstName()}"></td>
              <td>
                <input type="text" name="firstName" th:field="${passportData.firstName}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.lastName}">Фамилия</td>
              <td th:text="${passportData.getLastName()}"></td>
              <td>
                <input type="text" name="lastName" th:field="${passportData.lastName}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.middleName}">Отчество</td>
              <td th:text="${passportData.getMiddleName()}"></td>
              <td>
                <input type="text" name="middleName" th:field="${passportData.middleName}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.sex}">Пол</td>
              <td th:text="${passportData.getSex()}"></td>
              <td>
                <label>
                  <input type="radio" name="sex" value="male" th:field="*{passportData.sex}">
                  <span th:text="#{passport.sexMale}">мужской</span>
                </label>
                <label>
                  <input type="radio" name="sex" value="female" th:field="*{passportData.sex}">
                  <span th:text="#{passport.sexFemale}">женский</span>
                </label>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.dateOfBirth}">Дата рождения</td>
              <td th:text="${passportData.getDateOfBirth()}"></td>
              <td>
                <input type="date" name="dateOfBirth" th:field="${passportData.dateOfBirth}"></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.passportNumber}">Номер паспорта</td>
              <td th:text="${passportData.getPassportNumber()}"></td>
              <td>
                <input type="text" name="passportNumber" th:field="${passportData.passportNumber}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.identificationNumber}">
                Идентификационный номер
              </td>
              <td th:text="${passportData.getIdentificationNumber()}"></td>
              <td>
                <input type="text" name="identificationNumber"
                       th:field="${passportData.identificationNumber}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.dateOfIssue}">Дата выдачи</td>
              <td th:text="${passportData.getDateOfIssue()}"></td>
              <td>
                <input type="date" name="dateOfIssue" th:field="${passportData.dateOfIssue}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.dateOfExpiry}">Дата действия</td>
              <td th:text="${passportData.getDateOfExpiry()}"></td>
              <td>
                <input type="date" name="dateOfExpiry" th:field="${passportData.dateOfExpiry}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.placeOfBirth}">Место рождения</td>
              <td th:text="${passportData.getPlaceOfBirth()}"></td>
              <td>
                <input type="text" name="placeOfBirth" th:field="${passportData.placeOfBirth}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.authority}">Орган, который выдал
                паспорт
              </td>
              <td th:text="${passportData.getAuthority()}"></td>
              <td>
                <input type="text" name="authority" th:field="${passportData.authority}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.nationality}">Национальность</td>
              <td th:text="${passportData.getNationality()}"></td>
              <td>
                <input type="text" name="nationality" th:field="${passportData.nationality}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{passport.registration}">Регистрация</td>
              <td th:text="${passportData.getRegistration()}"></td>
              <td>
                <input type="text" name="registration" th:field="${passportData.registration}">
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <a>
                  <button class="edit_button" type="submit" th:text="#{button.save}">сохранить</button>
                </a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>