<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="edit">
  <div class="container">
    <div class="edit_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <div class="edit_content">
        <form class="edit_form" th:action="@{/profile/users/{userId}/edit(userId=${user.id})}"
              method="post">
          <table class="edit_table">
            <caption class="edit_table_caption" th:text="#{caption.editUser}">Редактировать
              пользователя
            </caption>
            <caption>
              <div th:if="${invalidUserEdit}" class="alert">
            <span class="alert_close_button" onclick="this.parentElement.style.display='none';"
            >&times;</span>
                <p th:text="${invalidUserEdit}"></p>
              </div>
            </caption>
            <caption>
              <div th:if="${userEdit}" class="notification">
            <span class="notification_close_button"
                  onclick="this.parentElement.style.display='none';"
            >&times;</span>
                <p th:text="${userEdit}"></p>
              </div>
            </caption>
            <tr>
              <td class="edit_row_caption" th:text="#{user.username}">Имя пользователя</td>
              <td th:text="${user.username}"></td>
              <td><input type="text" name="username" th:field="${user.username}"></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{user.email}">Эл. почта</td>
              <td th:text="${user.email}"></td>
              <td><input type="text" name="email" th:field="${user.email}"></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{user.phoneNumber}">Телефон</td>
              <td th:text="${user.phoneNumber}"></td>
              <td><input type="text" name="phoneNumber" th:field="${user.phoneNumber}">
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{user.role}">Роль</td>
              <td th:text="${user.userRole.name}"></td>
              <td>
                <select id="userRole" name="userRole">
                  <option th:each="userRole : ${userRoles}"
                          th:selected="${userRole == user.userRole}"
                          th:text="${userRole.name}" th:value="${userRole.id}"
                          th:name="${userRole.name}"
                          th:field="${user.userRole}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{user.status}">Статус</td>
              <td th:text="${user.status}"></td>
              <td>
                <select name="status" id="status">
                  <option value="ACTIVE" name="status" th:text="ACTIVE" th:field="${user.status}"
                          th:selected="${'ACTIVE' == user.status}">active
                  </option>
                  <option value="INACTIVE" name="status" th:text="INACTIVE"
                          th:field="${user.status}"
                          th:selected="${'INACTIVE' == user.status}">inactive
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                <button class="edit_button" type="submit" th:text="#{button.save}">сохранить
                </button>
              </td>
            </tr>
          </table>
        </form>
        <form class="edit_form"
              th:action="@{/profile/users/{userId}/password(userId=${user.id})}"
              method="post">
          <table class="edit_table">
            <caption class="edit_table_caption" th:text="#{caption.changePassword}">Изменить пароля
            </caption>

            <tr class="edit_password_row_caption">
              <td>
                <label for="password" th:text="#{label.newPassword}"></label>
                <input id="password" type="password" name="password">
              </td>
            </tr>
            <tr class="edit_password_row_caption">
              <td>
                <label for="password_confirm" th:text="#{label.confirmPassword}"></label>
                <input id="password_confirm" type="password" name="passwordConfirm">
              </td>
            </tr>
            <tr class="edit_password_row_caption">
              <td>
                <button class="edit_button" type="submit" th:text="#{button.save}"></button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>