<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="passport">
  <div class="container">
    <div class="passport_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <table class="passport_table">
        <caption class="passport_table_caption" th:text="#{caption.passport}">Паспорт</caption>
        <tr>
          <td th:text="#{passport.firstName}">Имя</td>
          <td th:text="${passportData.firstName}"></td>
          <td>
            <div class="profile_dropdown_menu">
              <input class="profile_dropdown_menu_checkbox" th:id="${passportData.id}"
                     type="checkbox"/>
              <label th:for="${passportData.id}"></label>
              <div class="profile_dropdown_menu_content">
                <ul>
                  <li><a th:text="#{button.edit}"
                         th:href="@{/profile/users/{userId}/passport/{passportId}/edit(userId=${userId},passportId=${passportData.id})}">Редактировать</a>
                  </li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td th:text="#{passport.lastName}">Фамилия</td>
          <td th:text="${passportData.lastName}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.middleName}">Отчество</td>
          <td th:text="${passportData.middleName}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.sex}">Пол</td>
          <td th:text="${passportData.sex}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.dateOfBirth}">Дата рождения</td>
          <td th:text="${passportData.dateOfBirth}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.passportNumber}">Номер паспорта</td>
          <td th:text="${passportData.passportNumber}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.identificationNumber}">Идентификационный номер</td>
          <td th:text="${passportData.identificationNumber}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.dateOfIssue}">Дата выдачи</td>
          <td th:text="${passportData.dateOfIssue}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.dateOfExpiry}">Дата действия</td>
          <td th:text="${passportData.dateOfExpiry}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.placeOfBirth}">Место рождения</td>
          <td th:text="${passportData.placeOfBirth}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.authority}">Орган, который выдал паспорт</td>
          <td th:text="${passportData.authority}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.nationality}">Национальность</td>
          <td th:text="${passportData.nationality}"></td>
        </tr>
        <tr>
          <td th:text="#{passport.registration}">Регистрация</td>
          <td th:text="${passportData.registration}"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>