<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="catalog">
  <div class="container">
    <div class="catalog_inner">
      <div class="filter">
        <form class="filer_inner" method="post" th:action="@{/catalog/filtered}">
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.brand}">Марка автомобиля</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="carBrand : ${carBrands}">
                <label th:for="${carBrand.name}">
                  <input type="checkbox" th:id="${carBrand.name}"
                         th:text="${carBrand.name}" th:value="${carBrand.id}"
                         name="carBrandsFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.model}">Модель</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="model : ${models}">
                <label th:for="${model}">
                  <input type="checkbox" th:id="${model}"
                         th:text="${model}" th:value="${model}"
                         name="carModelsFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.body}">Тип кузова</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="carBody : ${carBodies}">
                <label th:for="${carBody.name}">
                  <input type="checkbox" th:id="${carBody.name}"
                         th:text="#{${carBody.name}}" th:value="${carBody.id}"
                         name="carBodiesFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.class}">Класс автомобиля</h4>
            <div class="filer_checkbox_inner" th:each="carClass : ${carClasses}">
              <label th:for="${carClass.name}">
                <input type="checkbox" th:id="${carClass.name}"
                       th:text="#{${carClass.name}}" th:value="${carClass.id}"
                       name="carClassesFiltered"/></label>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.transmission}">Тип трансмиссии</h4>
            <div class="filer_checkbox_inner" th:each="carTransmission : ${carTransmissions}">
              <label th:for="${carTransmission.name}">
                <input type="checkbox" th:id="${carTransmission.name}"
                       th:text="#{${carTransmission.name}}"
                       th:value="${carTransmission.id}"
                       name="carTransmissionsFiltered"/></label>
            </div>
          </div>
          <button class="filter_submit" type="submit" th:text="#{button.search}">Искать</button>
        </form>
      </div>
      <div class="catalog_content">
        <div class="product_item" th:each="car : ${cars}">
          <div class="product_wrap">
            <img th:src="@{${'/upload_images/' + car.imageName}}">
            <div class="product_item_actions">
              <a th:href="@{/catalog/{carId}/detail/(carId=${car.id})}"
                 class="quick_view" th:text="#{view}">Просмотр</a>
            </div>
          </div>
          <div class="product_item_info">
            <h3 class="product_item_title"
                th:text="${car.carBrand.name} + ' ' + ${car.model}">
            </h3>
            <span class="product_item_price"
                  th:text="${car.rentalCost}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>