<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="catalog_detail">
  <div class="container">
    <div class="catalog_detail_inner">
      <div class="catalog_detail_image">
        <img th:src="@{${'/upload_images/' + car.getImageName()}}">
      </div>
      <div class="catalog_detail_content">
        <form th:action="@{/catalog/{carId}/detail/(carId=${car.getId()})}" method="post">
          <table class="catalog_detail_table">
            <caption class="catalog_detail_table_caption" th:text="#{caption.specification}">
              Характеристики
            </caption>
            <caption>
              <div th:if="${invalidDate}" class="alert">
            <span class="alert_close_button" onclick="this.parentElement.style.display='none';"
            >&times;</span>
                <p th:text="${invalidDate}"></p>
              </div>
            </caption>
            <input type="hidden" th:name="carDetailId" th:value="${car.getId()}">
            <tr>
              <td th:text="#{car.brand}">Марка</td>
              <td th:text="${car.getCarBrand().getName()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.model}">Модель</td>
              <td th:text="${car.getModel()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.body}">Тип кузова</td>
              <td th:text="${car.getCarBody().getName()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.color}">Цвет</td>
              <td th:text="${car.getColor()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.class}">Класс автомобиля</td>
              <td th:text="${car.getCarClass().getName()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.transmission}">Коробка передач</td>
              <td th:text="${car.getCarTransmission().getName()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.engineType}">Тип двигателя</td>
              <td th:text="${car.getEngineType().getName()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.engineVolume}">Объем двигателя</td>
              <td th:text="${car.getEngineVolume()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.numberOfSeats}">Количество сидений</td>
              <td th:text="${car.getNumberOfSeats()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.fuelConsumption}">Расход топлива</td>
              <td th:text="${car.getFuelConsumption()}"></td>
            </tr>
            <tr>
              <td th:text="#{car.rentalCost}">Стоимость аренды</td>
              <td th:text="${car.getRentalCost()}"></td>
            </tr>
            <tr>
              <td th:text="#{order.dateOfIssue}">Дата выдачи</td>
              <td><input type="date" th:name="dateOfIssue" required></td>
            </tr>
            <tr>
              <td th:text="#{order.dateOfReturn}">Дата возврата</td>
              <td><input type="date" th:name="dateOfReturn" required></td>
            </tr>
            <tr>
              <td>
                <button class="catalog_detail_submit" type="submit" th:text="#{button.reserve}">
                  Бронировать
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>