<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="catalog">
  <div class="container">
    <div class="catalog_inner">
      <div class="filter">
        <form class="filer_inner" method="post" th:action="@{/catalog/filtered}">
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.brand}">Марка автомобиля</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="carBrand : ${carBrands}">
                <label th:for="${carBrand.getName()}">
                  <input type="checkbox" th:id="${carBrand.getName()}"
                         th:text="${carBrand.getName()}" th:value="${carBrand.getName()}"
                         name="carBrandsFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.model}">Модель</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="car : ${cars}">
                <label th:for="${car.getModel()}">
                  <input type="checkbox" th:id="${car.getModel()}"
                         th:text="${car.getModel()}" th:value="${car.getModel()}"
                         name="carModelsFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.body}">Тип кузова</h4>
            <div class="filter_scroll">
              <div class="filer_checkbox_inner" th:each="carBody : ${carBodies}">
                <label th:for="${carBody.getName()}">
                  <input type="checkbox" th:id="${carBody.getName()}"
                         th:text="${carBody.getName()}" th:value="${carBody.getName()}"
                         name="carBodiesFiltered"/></label>
              </div>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.class}">Класс автомобиля</h4>
            <div class="filer_checkbox_inner" th:each="carClass : ${carClasses}">
              <label th:for="${carClass.getName()}">
                <input type="checkbox" th:id="${carClass.getName()}"
                       th:text="${carClass.getName()}" th:value="${carClass.getName()}"
                       name="carClassesFiltered"/></label>
            </div>
          </div>
          <div class="filer_item_checkbox">
            <h4 class="filter_title" th:text="#{car.transmission}">Тип трансмиссии</h4>
            <div class="filer_checkbox_inner" th:each="carTransmission : ${carTransmissions}">
              <label th:for="${carTransmission.getName()}">
                <input type="checkbox" th:id="${carTransmission.getName()}"
                       th:text="${carTransmission.getName()}"
                       th:value="${carTransmission.getName()}"
                       name="carTransmissionsFiltered"/></label>
            </div>
          </div>
          <button class="filter_submit" type="submit" th:text="#{button.search}">Искать</button>
        </form>
      </div>
      <div class="catalog_content">
        <div class="product_item" th:each="car : ${cars}">
          <div class="product_wrap">
            <img th:src="@{${'/upload_images/' + car.getImageName()}}">
            <div class="product_item_actions">
              <a th:href="@{/catalog/{carId}/detail/(carId=${car.getId()})}"
                 class="quick_view" th:text="#{view}">Просмотр</a>
            </div>
          </div>
          <div class="product_item_info">
            <h3 class="product_item_title"
                th:text="${car.getCarBrand().getName()} + ' ' + ${car.getModel()}">
            </h3>
            <span class="product_item_price"
                  th:text="${car.getRentalCost()}"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>