<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
  <footer class="footer">
    <div class="footer_inner">
      <div class="footer_info">
        <div class="footer_copyright">&copy; 2021 - Kazak Vadim</div>
        <div class="footer_social">
          <a class="footer_social_link instagram" href="#">
            <img th:src="@{images/instagram.png}" alt=""/>
          </a>
          <a class="footer_social_link youtube" href="#">
            <img th:src="@{images/youtube.png}" alt=""/>
          </a>
          <a class="footer_social_link viber" href="#">
            <img th:src="@{images/viber.png}" alt=""/>
          </a>
          <a class="footer_social_link linkedin" href="#">
            <img th:src="@{images/linkedin.png}" alt=""/>
          </a>
        </div>
      </div>
      <div class="footer_nav">
        <a class="footer_nav_link" th:href="@{index}">Главная</a>
        <a class="footer_nav_link" th:href="@{catalog}">Каталог</a>
        <a class="footer_nav_link" th:href="@{conditions}">Условия проката</a>
        <a class="footer_nav_link" th:href="@{contacts}">Контакты</a>
      </div>
    </div>
  </footer>
</th:block>