<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
          th:fragment="header">
  <header class="header">
    <div class="container">
      <div class="lang">
        <a href="#">
          <img th:src="@{~/images/russia_flag.png}" alt=""/>
        </a>
        <a href="">
          <img th:src="@{~/images/unitedstates_flag.png}" alt=""/>
        </a>
      </div>
      <div class="header_inner">
        <div class="company">
          <a th:href="@{~/index}">
            <img class="company_logo" th:src="@{~/images/logo.png}" alt=""/>
          </a>
        </div>
        <div class="nav">
          <div class="nav_item">
            <a class="nav_link" th:href="@{~/index}">Главная</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:href="@{~/catalog}">Каталог</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:href="@{~/condition}">Условия проката</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:href="@{~/contact}">Контакты</a>
          </div>
          <div class="nav_item">
            <div class="profile_dropdown">
              <a class="profile_link" th:href="@{~/user}">
                <img class="profile_img" th:src="@{~/images/profile.svg}" alt=""/>
              </a>
              <div class="profile_dropdown_content">
                <a th:href="@{~/profile}">Мой профиль</a>
                <form th:action="@{~/login}" sec:authorize="isAuthenticated() == false" method="get">
                  <button type="submit">Войти</button>
                </form>
                <form th:action="@{~/logout}" sec:authorize="isAuthenticated()" method="post">
                  <button type="submit">Выйти</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</th:block>