<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
          th:fragment="header">
  <header class="header">
    <div class="container">
      <div class="lang">
        <a href="/?lang=ru">
          <img th:src="@{~/images/russia_flag.png}" alt=""/>
        </a>
        <a href="/?lang=en">
          <img th:src="@{~/images/unitedstates_flag.png}" alt=""/>
        </a>
      </div>
      <div class="header_inner">
        <div class="company">
          <a th:href="@{~/index}">
            <img class="company_logo" th:src="@{~/images/logo.png}" alt=""/>
          </a>
        </div>
        <div class="nav">
          <div class="nav_item">
            <a class="nav_link" th:text="#{main}" th:href="@{~/index}">Главная</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:text="#{catalog}" th:href="@{~/catalog}">Каталог</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:text="#{rentalConditions}" th:href="@{~/condition}">Условия
              проката</a>
          </div>
          <div class="nav_item">
            <a class="nav_link" th:text="#{contacts}" th:href="@{~/contact}">Контакты</a>
          </div>
          <div class="nav_item">
            <div class="profile_dropdown">
              <a class="profile_link" th:href="@{~/profile}">
                <img class="profile_img" th:src="@{~/images/profile.svg}"/>
              </a>
              <div class="profile_dropdown_content">
                <span sec:authentication="name" sec:authorize="isAuthenticated()"></span>
                <a th:text="#{myProfile}" th:href="@{~/profile/information}">Мой профиль</a>
                <a th:text="#{registration}" th:href="@{~/registration}"
                   sec:authorize="isAuthenticated() == false">Регистрация</a>
                <a th:text="#{signIn}" th:href="@{~/login}"
                   sec:authorize="isAuthenticated() == false">Войти</a>
                <a th:text="#{signOut}" th:href="@{~/logout}" sec:authorize="isAuthenticated()">Выйти</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</th:block>