<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.w3.org/1999/xhtml"
          th:fragment="profile_nav">
  <ul class="profile_nav">
    <li><a th:href="@{/profile/information}">Личная информация</a></li>
    <li><a th:href="@{/profile/order}">Каталог</a></li>
    <li><a th:href="@{/profile/order}">Заказы</a></li>
    <li><a th:href="@{/profile/repair}">Ремонты</a></li>
    <li><a href="#">Настройки</a></li>
    <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"><a th:href="@{/profile/user}"
           >Пользователи</a></li>
  </ul>
</th:block>