<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/blocks/error.css" th:href="@{/css/style.css}">
    <title>Car-Rent</title>
</head>
<body>
<div class="face">
    <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
</div>
<h1>Oops! Something went wrong!</h1>
<a href="../index.html">
    <button class="error_button">
        Вернуться Домой
    </button>
</a>
</body>
</html>