<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <title>Car-Rent</title>
</head>
<body>
<div class="lang">
    <div class="container">
        <a href="">
            <img src="../../static/images/russiaflag_flags_rusi_8884.png" alt="">
        </a>
        <a href="">
            <img src="../../static/images/unitedstates_flags_flag_8833.png" alt="">
        </a>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="company">
                <a href="../index.html">
                    <img class="company_logo" src="../../static/images/logo.png" alt="">
                </a>
            </div>
            <div class="nav">
                <div class="nav_item">
                    <a class="nav_link" href="../index.html">Главная</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/catalog.html">Каталог</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/conditions.html">Условия проката</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/contacts.html">Контакты</a>
                </div>
                <div class="nav_item">
                    <div class="profile_dropdown">
                        <a class="profile_link" href="">
                            <img class="profile_img" src="../../static/images/profile.svg" alt="">
                        </a>
                        <div class="profile_dropdown_content">
                            <a href="#">Мой профиль</a>
                            <a href="#">Войти</a>
                            <a href="#">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="product">
    <div class="container">
        <div class="product_inner">
            <div class="product_slider">
                <div class="product_slider_item">
                    <div class="product_slider_text">1 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>
                <div class="product_slider_item">
                    <div class="product_slider_text">2 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>
                <div class="product_slider_item">
                    <div class="product_slider_text">3 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>
                <div class="product_slider_item">
                    <div class="product_slider_text">4 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>
                <div class="product_slider_item">
                    <div class="product_slider_text">5 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>
                <div class="product_slider_item">
                    <div class="product_slider_text">6 / 6</div>
                    <img class="product_slider_big_img" src="../../static/images/catalog_item_test.jpg" alt="">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="product_slider_row">
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(1)" alt="">
                    </div>
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(2)" alt="">
                    </div>
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(3)" alt="">
                    </div>
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(4)" alt="">
                    </div>
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(5)" alt="">
                    </div>
                    <div class="product_slider_column">
                        <img class="product_slider_small_img" src="../../static/images/catalog_item_test.jpg"
                             onclick="currentSlide(6)" alt="">
                    </div>
                </div>
            </div>
            <table class="product_table">
                <caption class="table_caption">Характеристики</caption>
                <tr>
                    <td>Марка</td>
                    <td>название_марка</td>
                </tr>
                <tr>
                    <td>Модель</td>
                    <td>название_модель</td>
                </tr>
                <tr>
                    <td>Тип кузова</td>
                    <td>название_тип_кузова</td>
                </tr>
                <tr>
                    <td>Цвет</td>
                    <td>название_цвет</td>
                </tr>
                <tr>
                    <td>Класс автомобиля</td>
                    <td>название_класс_автомобиля</td>
                </tr>
                <tr>
                    <td>Коробка передач</td>
                    <td>название_коробка_передач</td>
                </tr>
                <tr>
                    <td>Тип двигателя</td>
                    <td>название_тип_двигателя</td>
                </tr>
                <tr>
                    <td>Объем двигателя</td>
                    <td>название_объем_двигателя</td>
                </tr>
                <tr>
                    <td>Количество сидений</td>
                    <td>название_количество_сидений</td>
                </tr>
                <tr>
                    <td>Расход топлива</td>
                    <td>название_расход_топлива</td>
                </tr>
                <tr>
                    <td>Стоимость аренды</td>
                    <td>название_стоимость_аренды</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="product_submit" type="submit">Бронировать</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer_inner">
        <div class="footer_info">
            <div class="footer_copyright">&copy; 2021 - Kazak Vadim</div>
            <div class="footer_social">
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/instagram.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/youtube.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/viber.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/linkedin.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer_nav">
            <a class="footer_nav_link" href="#">Главная</a>
            <a class="footer_nav_link" href="#">Каталог</a>
            <a class="footer_nav_link" href="#">Условия проката</a>
            <a class="footer_nav_link" href="#">Контакты</a>
        </div>
    </div>
</footer>
<script src="../../static/js/product_slider.js"></script>
</body>
</html>