<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <title>Car-Rent</title>
</head>
<body>
<div class="lang">
    <div class="container">
        <a href="">
            <img src="../../static/images/russiaflag_flags_rusi_8884.png" alt="">
        </a>
        <a href="">
            <img src="../../static/images/unitedstates_flags_flag_8833.png" alt="">
        </a>
    </div>
</div>
<header class="header">
    <div class="container">
        <div class="header_inner">
            <div class="company">
                <a href="../index.html">
                    <img class="company_logo" src="../../static/images/logo.png" alt="">
                </a>
            </div>
            <div class="nav">
                <div class="nav_item">
                    <a class="nav_link" href="../index.html">Главная</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/catalog.html">Каталог</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/conditions.html">Условия проката</a>
                </div>
                <div class="nav_item">
                    <a class="nav_link" href="../pages/contacts.html">Контакты</a>
                </div>
                <div class="nav_item">
                    <div class="profile_dropdown">
                        <a class="profile_link" href="">
                            <img class="profile_img" src="../../static/images/profile.svg" alt="">
                        </a>
                        <div class="profile_dropdown_content">
                            <a href="#">Мой профиль</a>
                            <a href="#">Войти</a>
                            <a href="#">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="registration">
    <div class="container">
        <form class="registration_inner" method="post" action="">
            <div class="registration_item">
                <label for="login">Логин</label>
                <input type="text" id="login" required>
            </div>
            <div class="registration_item">
                <label for="email">Электронная почта</label>
                <input type="email" id="email" required>
            </div>
            <div class="registration_item">
                <label for="password">Пароль</label>
                <input type="password" id="password" required>
            </div>
            <div class="registration_item">
                <label for="phone_number">Тел. номер</label>
                <input type="tel" id="phone_number" required>
            </div>
            <div class="registration_item">
                <label for="surname">Фамилия</label>
                <input type="text" id="surname" required>
            </div>
            <div class="registration_item">
                <label for="name">Имя</label>
                <input type="text" id="name" required>
            </div>
            <div class="registration_item">
                <label for="middle_name">Отчество</label>
                <input type="text" id="middle_name" required>
            </div>
            <div class="registration_item_radio">
                <span>Пол</span>
                <div class="registration_item_radio_inner">
                    <label>
                        <input type="radio" name="sex" value="male">
                        <span>мужской</span>
                    </label>
                    <label>
                        <input type="radio" name="sex" value="female">
                        <span>женский</span>
                    </label>
                </div>
            </div>
            <div class="registration_item">
                <label for="date_of_birth">Дата рождения</label>
                <input type="date" id="date_of_birth" required>
            </div>
            <div class="registration_item">
                <label for="address">Адрес проживания</label>
                <input type="text" id="address" required>
            </div>
            <div class="registration_item">
                <label for="passport_number">Номер паспорта</label>
                <input type="text" id="passport_number" required>
            </div>
            <div class="registration_item">
                <label for="identification_number">Идентификационный номер</label>
                <input type="text" id="identification_number" required>
            </div>
            <div class="registration_item">
                <label for="date_of_issue">Дата выдачи паспорта</label>
                <input type="date" id="date_of_issue" required>
            </div>
            <div class="registration_item">
                <label for="date_of_expiry">Срок действия паспорта</label>
                <input type="date" id="date_of_expiry" required>
            </div>

            <div class="registration_item">
                <label for="authority">Орган, который выдал паспорт</label>
                <input type="text" id="authority" required>
            </div>
            <div class="registration_item">
                <label for="nationality">Гражданство</label>
                <input type="text" id="nationality" required>
            </div>
            <button class="registration_submit" type="submit">Отправить</button>
        </form>
    </div>
</div>
<footer class="footer">
    <div class="footer_inner">
        <div class="footer_info">
            <div class="footer_copyright">&copy; 2021 - Kazak Vadim</div>
            <div class="footer_social">
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/instagram.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/youtube.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/viber.png" alt="">
                </a>
                <a class="footer_social_link" href="#">
                    <img src="../../static/images/linkedin.png" alt="">
                </a>
            </div>
        </div>
        <div class="footer_nav">
            <a class="footer_nav_link" href="#">Главная</a>
            <a class="footer_nav_link" href="#">Каталог</a>
            <a class="footer_nav_link" href="#">Условия проката</a>
            <a class="footer_nav_link" href="#">Контакты</a>
        </div>
    </div>
</footer>
</body>
</html>