<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="authorization">
    <div class="container">
        <div class="authorization_inner">
            <div class="authorization_header">
                <h1 class="authorization_title">АВТОРИЗАЦИЯ</h1>
            </div>
            <fieldset class="authorization_fieldset">
                <form class="authorization_form" action="" method="get">
                    <input class="authorization_login" type="email" placeholder="Логин">
                    <input class="authorization_password" type="password" placeholder="Пароль">
                    <button class="authorization_submit" type="submit" value="">
                        <span>ВОЙТИ</span>
                    </button>

                    <div class="authorization_footer">
                        <p class="footer_title">Нет аккаунта?</p>
                        <a class="footer_link" href="#">Регистрация</a>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>