<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="catalog_new">
  <div class="container">
    <div class="catalog_new_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <div class="catalog_new_content">
        <div class="col-md-8 mx-auto">
          <h2>Upload File Example</h2>
          <p th:text="${message}" th:if="${message}" class="alert alert-primary"></p>
          <form method="post" th:action="@{catalog_new/upload}" enctype="multipart/form-data">
            <div class="form-group">
              <input type="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Upload File</button>
          </form>
        </div>
      </div>
    </div>
    <div th:replace="fragments/footer"></div>
  </div>
</div>
</body>
</html>