<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="catalog_detail">
  <div class="container">
    <div class="catalog_detail_inner">
      <div class="catalog_detail_slider">
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">1 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">2 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">3 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">4 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">5 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>
        <div class="catalog_detail_slider_item">
          <div class="catalog_detail_slider_text">6 / 6</div>
          <img class="catalog_detail_slider_big_img" th:src="@{/images/catalog_item_test.jpg}">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="catalog_detail_slider_row">
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(1)">
          </div>
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(2)">
          </div>
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(3)">
          </div>
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(4)">
          </div>
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(5)">
          </div>
          <div class="catalog_detail_slider_column">
            <img class="catalog_detail_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(6)">
          </div>
        </div>
      </div>
      <form th:action="@{/catalog/{carId}/detail/(carId=${car.getId()})}" method="post">
        <table class="catalog_detail_table">
          <caption class="catalog_detail_table_caption" th:text="#{specification}">Характеристики
          </caption>
          <input type="hidden" th:name="carDetailId" th:value="${car.getId()}">
          <tr>
            <td th:text="#{carBrand}">Марка</td>
            <td th:text="${car.getCarBrand().getName()}"></td>
          </tr>
          <tr>
            <td th:text="#{carModel}">Модель</td>
            <td th:text="${car.getModel()}"></td>
          </tr>
          <tr>
            <td th:text="#{carBody}">Тип кузова</td>
            <td th:text="${car.getCarBody().getName()}"></td>
          </tr>
          <tr>
            <td th:text="#{color}">Цвет</td>
            <td th:text="${car.getColor()}"></td>
          </tr>
          <tr>
            <td th:text="#{carClass}">Класс автомобиля</td>
            <td th:text="${car.getCarClass().getName()}"></td>
          </tr>
          <tr>
            <td th:text="#{carTransmission}">Коробка передач</td>
            <td th:text="${car.getCarTransmission().getName()}"></td>
          </tr>
          <tr>
            <td th:text="#{engineType}">Тип двигателя</td>
            <td th:text="${car.getEngineType().getName()}"></td>
          </tr>
          <tr>
            <td th:text="#{engineVolume}">Объем двигателя</td>
            <td th:text="${car.getEngineVolume()}"></td>
          </tr>
          <tr>
            <td th:text="#{numberOfSeats}">Количество сидений</td>
            <td th:text="${car.getNumberOfSeats()}"></td>
          </tr>
          <tr>
            <td th:text="#{fuelConsumption}">Расход топлива</td>
            <td th:text="${car.getFuelConsumption()}"></td>
          </tr>
          <tr>
            <td th:text="#{rentalCost}">Стоимость аренды</td>
            <td th:text="${car.getRentalCost()}"></td>
          </tr>
          <tr>
            <td th:text="#{dateOfIssue}">Дата выдачи</td>
            <td><input type="date" th:name="dateOfIssue" required></td>
          </tr>
          <tr>
            <td th:text="#{dateOfReturn}">Дата возврата</td>
            <td><input type="date" th:name="dateOfReturn" required></td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button class="catalog_detail_submit" type="submit" th:text="#{reserve}">Бронировать
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
<script th:src="@{/js/catalog_detail_slider.js}"></script>
</body>
</html>