<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="conditions">
  <div class="container">
    <div class="conditions_inner">
      <img class="conditions_img" th:src="@{images/conditions.jpg}" alt="">
      <div class="conditions_content">
        <h2 class="conditions_title">Требования и условия проката автомобилей</h2>
        <div class="conditions_text">
          <p>На этой странице Вы найдёте основные пункты, которые входят в договор аренды
            автомобиля.</p>
          <h3>Необходимые документы/требования</h3>
          <ol>
            <li>Возраст не менее 19 лет;</li>
            <li>Стаж не менее 1 года;</li>
            <li>Паспорт;</li>
            <li>Водительское удостоверение.</li>
          </ol>
          <h3> Способы оплаты</h3>
          <ul>
            <li>Наличный;</li>
            <li>Безналичный;</li>
          </ul>
          <h3>Территория эксплуатации</h3>
          Все автомобили имеют возможность выезда за границу (всю дополнительную информацию можно
          уточнить у
          менеджера).
          <h3>Действия в случае ДТП</h3>
          <p>По факту наступления дорожно-транспортного происшествия (аварии, повреждения
            автомобиля,
            независимо от причины, нанесения физического или материального урона каким-либо лицам
            при
            использовании автомобиля, угона, кражи автомобиля или его частей, захвата автомобиля или
            других
            действий, совершенных против автомобиля салона проката):</p>
          <ul>
            <li>Клиент обязан незамедлительно вызвать милицию (телефон 102);</li>
            <li>Сообщить о случившемся представителю компании;</li>
            <li>Клиент обязан в течение 24 часов предоставить в офис салона проката справку
              установленного образца о дорожно-транспортном происшествии (ДТП) из ГАИ либо справку о
              противоправных действиях третьих лиц.
            </li>
          </ul>
          <h3>Общие условия</h3>
          <ul>
            <li>В случае поломки автомобиля, Клиенту предоставляется автомобиль взамен равный по
              классу, а
              при условии отсутствия равного класса, предоставляется классом выше;
            </li>
            <li>Дополнительные водители оформляются бесплатно при наличии соответствующих
              документов;
            </li>
            <li>В случае, если арендатор не может вернуть в наш салон проката авто арендованный
              автомобиль в
              срок и задержка по времени составляет более получаса (30 мин), необходимо обязательно
              уведомить об этом Арендодателя;
            </li>
            <li>При оформлении аренды заключается соответствующий договор, в котором предусмотрены
              все
              условия аренды, неоговоренные на данном сайте, включающий в себя акт приема-передачи;
            </li>
            <li>При задержке возврата автомобиля (или продлении аренды) на срок более 2 часов
              взимается
              оплата за сутки;
            </li>
            <li>В случае фотофиксации превышения скоростного режима и получения постановления из ГАИ
              МВД о
              наложение штрафа (приходят через 1 мес.), мы отправляем в вышеуказанный орган пакет
              документов о перенесении ответственности об Административном правонарушении.
            </li>
            <li>Компания имеет право отказать в аренде Клиенту без объяснения причин.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>