<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="detail">
  <div class="container">
    <div class="detail_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <table class="detail_table">
        <caption class="detail_table_caption">Заказ</caption>
        <tr class="detail_column_caption">
          <td>Номер заказа</td>
          <td th:text="${carOrder.getId()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Дата выдачи</td>
          <td th:text="${carOrder.getDateOfIssue()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Дата возврата</td>
          <td th:text="${carOrder.getDateOfReturn()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>ФИО</td>
          <td th:text="${carOrder.getUser().getPassportData().getLastName() + ' '
          + carOrder.getUser().getPassportData().getFirstName() + ' '
          + carOrder.getUser().getPassportData().getMiddleName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Эл. почта</td>
          <td th:text="${carOrder.getUser().getEmail()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Номер телефона</td>
          <td th:text="${carOrder.getUser().getPhoneNumber()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Пол</td>
          <td th:text="${carOrder.getUser().passportData.getSex()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата рождения</td>
          <td th:text="${carOrder.getUser().passportData.getDateOfBirth()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Номер паспорта</td>
          <td th:text="${carOrder.getUser().passportData.getPassportNumber()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Идентификационный номер</td>
          <td th:text="${carOrder.getUser().passportData.getIdentificationNumber()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата выдачи</td>
          <td th:text="${carOrder.getUser().passportData.getDateOfIssue()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата действия</td>
          <td th:text="${carOrder.getUser().passportData.getDateOfExpiry()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Место рождения</td>
          <td th:text="${carOrder.getUser().passportData.getPlaceOfBirth()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Орган, который выдал паспорт</td>
          <td th:text="${carOrder.getUser().passportData.getAuthority()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Национальность</td>
          <td th:text="${carOrder.getUser().passportData.getNationality()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Регистрация</td>
          <td th:text="${carOrder.getUser().passportData.getRegistration()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Марка автомобиля</td>
          <td th:text="${carOrder.getCar().getCarBrand().getName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Модель автомобиля</td>
          <td th:text="${carOrder.getCar().getModel()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Цвет</td>
          <td th:text="${carOrder.getCar().getColor()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Тип кузова</td>
          <td th:text="${carOrder.getCar().getCarBody().getName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Класс автомобиля</td>
          <td th:text="${carOrder.getCar().getCarClass().getName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Трансмиссия</td>
          <td th:text="${carOrder.getCar().getCarTransmission().getName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Тип двигателя</td>
          <td th:text="${carOrder.getCar().getEngineType().getName()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Объем двигателя</td>
          <td th:text="${carOrder.getCar().getEngineVolume()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Кол-во сидений</td>
          <td th:text="${carOrder.getCar().getNumberOfSeats()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Расход автомобиля</td>
          <td th:text="${carOrder.getCar().getFuelConsumption()}"></td>
        </tr>
        <tr class="detail_column_caption">
          <td>Стоимость в сутки</td>
          <td th:text="${carOrder.getCar().getRentalCost()}"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>