<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/blocks/error.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <title>Car-Rent</title>
</head>
<body>
<div class="face">
    <div class="band">
        <div class="red"></div>
        <div class="white"></div>
        <div class="blue"></div>
    </div>
    <div class="eyes"></div>
    <div class="dimples"></div>
    <div class="mouth"></div>
</div>
<h1 th:text="#{oops}">Oops! Something went wrong!</h1>
<a th:href="@{~/index}">
    <button class="error_button" th:text="#{button.backHome}">
        Вернуться Домой
    </button>
</a>
</body>
</html>