<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="slider">
  <div class="container">
    <div class="slider_item">
      <img th:src="@{images/slider_image_one.jpg}">
      <div class="slider_caption">
        <a class="slider_button" th:text="#{button.learnMore}" th:href="@{catalog}">ПОДРОБНЕЕ</a>
        <p class="slider_text" th:text="#{slider.captionOne}">Каталог автомобилей</p>
      </div>
    </div>
    <div class="slider_item">
      <img th:src="@{images/slider_image_two.jpg}">
      <div class="slider_caption">
        <a class="slider_button" th:text="#{button.learnMore}" th:href="@{condition}">ПОДРОБНЕЕ</a>
        <p class="slider_text" th:text="#{slider.captionTwo}">Условия проката</p>
      </div>
    </div>
    <div class="slider_item">
      <img th:src="@{images/slider_image_three.jpg}">
      <div class="slider_caption">
        <a class="slider_button" th:text="#{button.learnMore}" th:href="@{contact}">ПОДРОБНЕЕ</a>
        <p class="slider_text" th:text="#{slider.captionThree}">Наши контакты</p>
      </div>
    </div>
    <a class="slider_previous" onclick="previousSlide()">&#10094;</a>
    <a class="slider_next" onclick="nextSlide()">&#10095;</a>
  </div>
</div>
<div th:replace="fragments/footer"></div>
<script th:src="@{js/slider.js}"></script>
</body>
</html>