<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="slider">
  <div class="container">
    <div class="slider_item">
      <img th:src="@{images/tesla.jpg}" alt=""/>
      <div class="slider_caption">
        <a href="#" class="slider_button">LEARN MORE</a>
        <p class="slider_text">Специальное предложение</p>
      </div>
    </div>
    <div class="slider_item">
      <img th:src="@{images/bmw.jpg}" alt=""/>
      <div class="slider_caption">
        <a href="#" class="slider_button">LEARN MORE</a>
        <p class="slider_text">Специальное предложение</p>
      </div>
    </div>
    <div class="slider_item">
      <img th:src="@{images/mercedes.jpg}" alt=""/>
      <div class="slider_caption">
        <a href="#" class="slider_button">LEARN MORE</a>
        <p class="slider_text">Специальное предложение</p>
      </div>
    </div>
    <a class="slider_previous" onclick="previousSlide()">&#10094;</a>
    <a class="slider_next" onclick="nextSlide()">&#10095;</a>
  </div>
</div>
<div th:replace="fragments/footer"></div>
<script th:src="@{js/slider.js}"></script>
</body>
</html>