<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="personal_information">
  <div class="container">
    <div class="personal_information_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <div class="personal_information_content">
        <table class="personal_information_table">
          <caption class="personal_information_table_caption" th:text="#{personalInformation}">
            Личная информация
          </caption>
          <tr>
            <td th:text="#{user.username}">Логин</td>
            <td th:text="${user.getUsername()}"></td>
          </tr>
          <tr>
            <td th:text="#{user.email}">Эл. почта</td>
            <td th:text="${user.getEmail()}"></td>
          </tr>
          <tr>
            <td th:text="#{user.phoneNumber}">Телефон</td>
            <td th:text="${user.getPhoneNumber()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.firstName}">Имя</td>
            <td th:text="${user.getPassportData().getFirstName()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.lastName}">Фамилия</td>
            <td th:text="${user.getPassportData().getLastName()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.middleName}">Отчество</td>
            <td th:text="${user.getPassportData().getMiddleName()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.sex}">Пол</td>
            <td th:text="${user.getPassportData().getSex()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.dateOfBirth}">Дата рождения</td>
            <td th:text="${user.getPassportData().getDateOfBirth()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.passportNumber}">Номер паспорта</td>
            <td th:text="${user.getPassportData().getPassportNumber()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.identificationNumber}">Идентификационный номер</td>
            <td th:text="${user.getPassportData().getIdentificationNumber()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.dateOfIssue}">Дата выдачи</td>
            <td th:text="${user.getPassportData().getDateOfIssue()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.dateOfExpiry}">Дата действия</td>
            <td th:text="${user.getPassportData.getDateOfExpiry()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.placeOfBirth}">Место рождения</td>
            <td th:text="${user.getPassportData.getPlaceOfBirth()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.authority}">Орган, который выдал паспорт</td>
            <td th:text="${user.getPassportData.getAuthority()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.nationality}">Национальность</td>
            <td th:text="${user.getPassportData.getNationality()}"></td>
          </tr>
          <tr>
            <td th:text="#{passport.registration}">Регистрация</td>
            <td th:text="${user.getPassportData.getRegistration()}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>