<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="order">
  <div class="container">
    <div class="order_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <table class="order_table">
        <caption class="order_table_caption">Список заказов</caption>
        <tr class="order_column_caption">
          <td>№</td>
          <td>ФИО</td>
          <td>Автомобиль</td>
          <td>Дата выдачи</td>
          <td>Дата возврата</td>
          <td>Состояние заказа</td>
          <td>Стоимость</td>
        </tr>
        <tr th:each="carOrder : ${carOrders}">
          <td th:text="${carOrder.getId()}"></td>
          <td th:text="${carOrder.getUser().getPassportData().getLastName() + ' '
          + carOrder.getUser().getPassportData().getFirstName() + ' '
          + carOrder.getUser().getPassportData().getMiddleName()}"></td>
          <td th:text="${carOrder.getCar().getCarBrand().getName()} + ' '
          + ${carOrder.getCar().getModel()}"></td>
          <td th:text="${carOrder.getDateOfIssue()}"></td>
          <td th:text="${carOrder.getDateOfReturn()}"></td>
          <td th:if="${carOrder.isCancellation() == false}">Активен</td>
          <td th:unless="${carOrder.isCancellation() == false}">Отменен</td>
          <td th:text="${carOrder.getRentalCost()}"></td>
          <td>
            <div class="profile_dropdown_menu">
              <input class="profile_dropdown_menu_checkbox" th:id="${carOrder.getId()}"
                     type="checkbox"/>
              <label th:for="${carOrder.getId()}"> </label>
              <div class="profile_dropdown_menu_content">
                <ul>
                  <li><a th:href="@{order/{id}/detail(id=${carOrder.getId()})}">О заказе</a></li>
                  <li><a th:href="@{order/{id}/reason(id=${carOrder.getId()})}">Причина отмены</a>
                  </li>
                  <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"><a
                      th:href="@{order/{id}/repair(id=${carOrder.getId()})}">Добавить ремонт</a>
                  </li>
                  <li sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"><a
                      th:href="@{order/{id}/cancellation(id=${carOrder.getId()})}">Отменить
                    заказ</a></li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>