<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="passport">
  <div class="container">
    <div class="passport_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <table class="passport_table">
        <caption class="passport_table_caption">Паспорт</caption>
        <tr class="passport_column_caption">
          <td>Имя</td>
          <td th:text="${passportData.getFirstName()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Фамилия</td>
          <td th:text="${passportData.getLastName()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Отчество</td>
          <td th:text="${passportData.getMiddleName()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Пол</td>
          <td th:text="${passportData.getSex()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата рождения</td>
          <td th:text="${passportData.getDateOfBirth()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Номер паспорта</td>
          <td th:text="${passportData.getPassportNumber()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Идентификационный номер</td>
          <td th:text="${passportData.getIdentificationNumber()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата выдачи</td>
          <td th:text="${passportData.getDateOfIssue()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Дата действия</td>
          <td th:text="${passportData.getDateOfExpiry()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Место рождения</td>
          <td th:text="${passportData.getPlaceOfBirth()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Орган, который выдал паспорт</td>
          <td th:text="${passportData.getAuthority()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Национальность</td>
          <td th:text="${passportData.getNationality()}"></td>
        </tr>
        <tr class="passport_column_caption">
          <td>Регистрация</td>
          <td th:text="${passportData.getRegistration()}"></td>
        </tr>
        <!--            <a th:href="@{/user/{id}(id=${user.getId()})}">-->
        <!--              <button class="view_account_button">-->
        <!--                посмотреть-->
        <!--              </button>-->
        <!--            </a>-->
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>