<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="product">
  <div class="container">
    <div class="product_inner">
      <div class="product_slider">
        <div class="product_slider_item">
          <div class="product_slider_text">1 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>
        <div class="product_slider_item">
          <div class="product_slider_text">2 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>
        <div class="product_slider_item">
          <div class="product_slider_text">3 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>
        <div class="product_slider_item">
          <div class="product_slider_text">4 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>
        <div class="product_slider_item">
          <div class="product_slider_text">5 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>
        <div class="product_slider_item">
          <div class="product_slider_text">6 / 6</div>
          <img class="product_slider_big_img" th:src="@{/images/catalog_item_test.jpg}" alt="">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="product_slider_row">
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(1)" alt="">
          </div>
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(2)" alt="">
          </div>
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(3)" alt="">
          </div>
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(4)" alt="">
          </div>
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(5)" alt="">
          </div>
          <div class="product_slider_column">
            <img class="product_slider_small_img" th:src="@{/images/catalog_item_test.jpg}"
                 onclick="currentSlide(6)" alt="">
          </div>
        </div>
      </div>
      <table class="product_table" th:object="${car}">
        <caption class="product_table_caption">Характеристики</caption>
        <tr>
          <td>Марка</td>
          <td th:text="${car.getCarBrand().getName()}">car_brand</td>
        </tr>
        <tr>
          <td>Модель</td>
          <td th:text="${car.getModel()}">car_model</td>
        </tr>
        <tr>
          <td>Тип кузова</td>
          <td th:text="${car.getCarBody().getName()}">car_body</td>
        </tr>
        <tr>
          <td>Цвет</td>
          <td th:text="${car.getColor()}">car_color</td>
        </tr>
        <tr>
          <td>Класс автомобиля</td>
          <td th:text="${car.getCarClass().getName()}">car_class</td>
        </tr>
        <tr>
          <td>Коробка передач</td>
          <td th:text="${car.getCarTransmission().getName()}">car_transmission</td>
        </tr>
        <tr>
          <td>Тип двигателя</td>
          <td th:text="${car.getEngineType().getName()}">engine_type</td>
        </tr>
        <tr>
          <td>Объем двигателя</td>
          <td th:text="${car.getEngineVolume()}">engine_volume</td>
        </tr>
        <tr>
          <td>Количество сидений</td>
          <td th:text="${car.getNumberOfSeats()}">number_of_seats</td>
        </tr>
        <tr>
          <td>Расход топлива</td>
          <td th:text="${car.getFuelConsumption()}">fuel_consumption</td>
        </tr>
        <tr>
          <td>Стоимость аренды</td>
          <td th:text="${car.getRentalCost()}">rental_cost</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="product_submit" type="submit">Бронировать</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
<script th:src="@{/js/product_slider.js}"></script>
</body>
</html>