<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="profile">
  <div class="container">
    <div class="profile_inner">
      <div th:replace="fragments/profile_nav"></div>
      <div class="profile_content">
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>