<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="profile">
  <div class="container">
    <div class="profile_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>
      <div class="profile_content">
        <table class="profile_table">
          <caption class="profile_table_caption">Личная информация</caption>
          <tr class="profile_column_caption">
            <td>Логин</td>
            <td th:text="${user.getUsername()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Эл. почта</td>
            <td th:text="${user.getEmail()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Телефон</td>
            <td th:text="${user.getPhoneNumber()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Имя</td>
            <td th:text="${user.getPassportData().getFirstName()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Фамилия</td>
            <td th:text="${user.getPassportData().getLastName()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Отчество</td>
            <td th:text="${user.getPassportData().getMiddleName()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Пол</td>
            <td th:text="${user.getPassportData().getSex()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Дата рождения</td>
            <td th:text="${user.getPassportData().getDateOfBirth()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Номер паспорта</td>
            <td th:text="${user.getPassportData().getPassportNumber()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Идентификационный номер</td>
            <td th:text="${user.getPassportData().getIdentificationNumber()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Дата выдачи</td>
            <td th:text="${user.getPassportData().getDateOfIssue()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Дата действия</td>
            <td th:text="${user.getPassportData.getDateOfExpiry()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Место рождения</td>
            <td th:text="${user.getPassportData.getPlaceOfBirth()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Орган, который выдал паспорт</td>
            <td th:text="${user.getPassportData.getAuthority()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Национальность</td>
            <td th:text="${user.getPassportData.getNationality()}"></td>
          </tr>
          <tr class="profile_column_caption">
            <td>Регистрация</td>
            <td th:text="${user.getPassportData.getRegistration()}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>