<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" th:href="@{/images/favicon.ico}">
  <title>Car-Rent</title>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="car_new">
  <div class="container">
    <div class="car_new_inner">
      <div class="profile_nav_inner">
        <div th:replace="fragments/profile_nav"></div>
      </div>

      <div class="edit_content">
        <form class="edit_form" th:action="@{/profile/cars/new}"
              method="post" enctype="multipart/form-data">
          <table class="edit_table">
            <caption class="edit_table_caption" th:text="#{caption.car}">Добавить автомобиль
            </caption>
            <caption>
              <div th:if="${carAdd}" class="notification">
            <span class="notification_close_button"
                  onclick="this.parentElement.style.display='none';"
            >&times;</span>
                <p th:text="${carAdd}"></p>
              </div>
            </caption>
            <tr>
              <td class="edit_row_caption" th:text="#{car.brand}">Марка</td>
              <td>
                <select name="carBrand" required>
                  <option th:each="carBrand : ${carBrands}"
                          th:text="${carBrand.name}" th:value="${carBrand.id}"
                          th:name="${carBrand.name}"
                          th:field="${car.carBrand}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.model}">Модель</td>
              <td><input type="text" name="carModel" th:field="${car.model}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.body}">Тип кузова</td>
              <td>
                <select name="carBody" required>
                  <option th:each="carBody : ${carBodies}"
                          th:text="${carBody.name}" th:value="${carBody.id}"
                          th:name="${carBody.name}"
                          th:field="${car.carBody}">
                  </option>
                </select>
              </td>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.color}">Цвет</td>
              <td><input type="text" name="color" th:field="${car.color}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.class}">Класс автомобиля</td>
              <td>
                <select name="carClass" required>
                  <option th:each="carClass : ${carClasses}"
                          th:text="${carClass.name}" th:value="${carClass.id}"
                          th:name="${carClass.name}"
                          th:field="${car.carClass}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.transmission}">Тип трансмиссии</td>
              <td>
                <select name="carTransmission" required>
                  <option th:each="carTransmission : ${carTransmissions}"
                          th:text="${carTransmission.name}"
                          th:value="${carTransmission.id}"
                          th:name="${carTransmission.name}"
                          th:field="${car.carTransmission}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.engineType}">Тип двигателя</td>
              <td>
                <select name="engineType" required>
                  <option th:each="engineType : ${engineTypes}"
                          th:text="${engineType.name}" th:value="${engineType.id}"
                          th:name="${engineType.getName()}"
                          th:field="${car.engineType}">
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.engineVolume}">Объем двигателя</td>
              <td><input type="number" name="engineVolume" min="0" placeholder="0,00"
                         step="0.01" th:field="${car.engineVolume}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.numberOfSeats}">Количество сидений</td>
              <td><input type="number" name="numberOfSeats" min="0" placeholder="0,00"
                         step="0.01" th:field="${car.numberOfSeats}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.fuelConsumption}">Расход топлива</td>
              <td><input type="number" name="fuelConsumption" min="0" placeholder="0,00"
                         step="0.01" th:field="${car.fuelConsumption}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.rentalCost}">Стоимость аренды</td>
              <td><input type="number" name="rentalCost" min="0" placeholder="0,00"
                         step="0.01" th:field="${car.rentalCost}" required></td>
            </tr>
            <tr>
              <td class="edit_row_caption" th:text="#{car.image}">Изображение</td>
              <td>
                <input type="file" name="imageFile" required>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button class="edit_button" type="submit" th:text="#{button.save}">сохранить
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
    <div th:replace="fragments/footer"></div>
  </div>
</div>
</body>
</html>